<template>
    <component :is="activeComponent"></component>
</template>

<script>
    export default {
        data() {
            return {
                activeComponent: 'header',
            }
        }
    }
</script>
