<template>
    <div>
        <p>{{user.name}}{{user.nickname ? `(${user.nickname})` : ''}}</p>
        <button @click="setLastName">Add nickname</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: {
                    name: 'Alex'
                }
            }
        },

        methods: {
            setLastName() {
                // TODO это работать не будет, необходимо исправить на рабочий вариант.
                this.user.nickname = 'BigBoss';
            }
        }
    }
</script>